//- Project Figma URL: https://www.figma.com/file/Em1aDiIHmqozHpUAjsYhT7/Eco-Store-Mockups-(Copy)?type=design&node-id=0-1&mode=design&t=IICTVIqiCNbYIDaC-0

doctype html

html(lang="en")
  include includes/head.pug
  include includes/body.pug
