@use '../variables' as var;

.hero {
  display:flex;
  padding-inline: 3rem;
  padding-block: 4rem;
  height: 100dvh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 12rem;

  .hero__summary {
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8rem;

    .summary__text {
      display: flex;
      flex-direction: column;
      gap: 3rem;

      .text__title {
        color: var.$primary-text-color;
        font-size: clamp(4rem, 5dvw, 6rem);
        text-wrap: nowrap;
      }

      .text__description {
        color: var.$primary-text-color;
        font-size: clamp(1.6rem, 2dvw, 2rem);
        text-align: justify;
      }
    }

    .summary__button {
      display: flex;

      .button__cta {
        color: white;
        font-size: clamp(1.6rem, 2dvw, 2rem);
        font-weight: bold;
        background-color: #FA9500;
        padding: 1.6rem;
        border-radius: 4rem;
      }

      .button__cta:hover {
        transition: .2s;
        transform: scale(1.1);
        color: var.$primary-color;
        background-color: var.$primary-text-color;
      }
    }
  }

  .hero__image-box {
    min-width: max(25rem, 30%);

    .image-box__image {
      width: 100%;
    }
  }
}


@media (max-width: 1020px) {
  .hero {
    position: relative;
    overflow: hidden;
    padding-inline: 0;

    &__image-box {
      position: absolute;
      z-index: -1;
      width: 100dvw;
      scale: 1.5;
      height: 100dvh;
      opacity: .6;
      display: flex;
      justify-content: center;
      align-items: center;
      filter: brightness(.8);
    }

    &__summary {
      align-items: center;
      padding-inline: 6rem;

      .summary__text {
        text-align: center;
      }
    }
  }
}
