include healt-card.pug

section(class="healt")
  div(class="healt__title-container")
    h2(class="title-container__title") Cuidado de la Salud
  section(class="healt__products")
    +article(
      './assets/img/healt-1.png',
      'Cepillo de bambú',
      'Paquete de 2 unidades hecho 100% de materiales ecológicos.'
    )
    +article(
      './assets/img/healt-2.png',
      'Crema para manos',
      'Crema hidratante con eucalipto ayuda al cuidado de la piel.'
    )
    +article(
      './assets/img/healt-3.png',
      'Serum hidratante',
      'Sérum hecho a base de extractos naturales y ácido hialurónico.'
    )
    +article(
      './assets/img/healt-4.png',
      'Kit de viaje',
      'Incluye peine y cepillo de bambú, jabón orgánico de eucalipto y shampoo tamaño de viaje.'
    )
    +article(
      './assets/img/healt-5.png',
      'Set de jabones',
      'Paquete de 2 unidades jabón de carbón activado con coco.'
    )
    +article(
      './assets/img/healt-6.png',
      'Kit de skincare',
      'Incluye 2 rodillos y una gua sha.'
    )

